/*
? fonts 
 */
@font-face {
    font-family: "SansVar";
    src: url("../fonts/DMSansVar.ttf");
}

@font-face {
    font-family: "MontVar";
    src: url("../fonts/MontserratVar.ttf");
}

@font-face {
    font-family: "NunitoVar";
    src: url("../fonts/NunitoVar.ttf");
}

@font-face {
    font-family: "UrbanistVar";
    src: url("../fonts/UrbanistVar.ttf");
}

/* 
? Variablen 
*/

:root {
    /* colors */
    --main-green: #024f44;
    --light-green: #f3fffc;

    /* fonts */
    --SansVar: "SansVar";
    --MontVar: "MontVar";
    --NunitoVar: "NunitoVar";
    --UrbanistVar: "UrbanistVar";
}

/*
! ============== General Styling ==============
*/

html {
    font-size: 10px;
}

img {
    max-width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/*
! ============== Header Styling ==============
*/
header {
    background-color: var(--main-green);
    padding: 3vh 9vw 15vh 9vw;
    margin-bottom: 5vh;
}

/* navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation nav {
    width: 24vw;
    display: flex;
    justify-content: space-between;
}

.navigation nav a {
    color: #eff7f5;
    font-family: var(--SansVar);
    font-size: 1.7rem;
}

.navigation nav a img {
    margin-bottom: 2%;
    width: 10px;
}

.navigation .icons {
    width: 24vw;
    display: flex;
    justify-content: end;
}

.navigation .icons img {
    margin-right: 5%;
}
/* end navigation */

.bigHeading {
    margin-top: 15vh;
    display: flex;
    justify-content: space-evenly;
    color: #eff7f5;
    font-family: var(--MontVar);
}

.bigHeading div:nth-of-type(1) h1 {
    font-family: var(--NunitoVar);
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 13vh;
}

.shopDescription {
    font-size: 1.5rem;
    width: 30vw;
    margin-bottom: 7vh;
}

.bigHeading div:nth-of-type(1) div {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.bigHeading div div p:nth-of-type(1){
    background-color: #eff7f5;
    color: var(--main-green);
    padding: 2% 5%;
    margin-right: 7%;
    cursor: pointer;

}

/* test grid */
.threeImgs {
    display: grid;
    grid-template-columns: 18vw 25vw;
    grid-template-rows: 1fr 1fr;
    gap: 0 10px;
}

/* Three Images Box */
.firstImg {
    background-image: url("../img/headerImgs/guenePflanze.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.secondImg {
    background-image: url("../img/headerImgs/kaktus.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.thirdImg {
    background-image: url("../img/headerImgs/tulpen.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* buttons imgs */
.firstImg p,
.secondImg p,
.thirdImg p {
    background-color: #024f44;
    width: 7vw;
    padding: 10px;
    margin: 20px 0 0 20px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}


/*
! ============== Featured Styling ==============
*/
/* ?styling repeats itself */
.featured,
.colorful {
    /* padding: 2vh 0; */
}

.sectionsHeading {
    font-family: var(--UrbanistVar);
    color: var(--main-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 78%;
    margin: 10vh auto;
}

.sectionsHeading h2 {
    font-size: 3rem;
}

.sectionsHeading p {
    font-size: 2rem;
}
/* ?================================= */

.sliderBox {
    margin: 0 0 10vh 11vw;
    overflow-x: scroll;
    /* evtl scrollbalken verschwinden lassen und durch einen pfeil ersetzen, der bei klick nach rechts scrollt */
    white-space: nowrap;
}

.sliderBox .sliderCard {
    display: inline-block;
    margin-right: 2vw;
}

.singleCardInfo div:nth-of-type(1) {
    margin: 2vh 0;
    display: flex;
    justify-content: space-between;
    color: #024f44;
    font-family: var(--UrbanistVar);
    font-size: 1.5rem;
    font-weight: 600;
}

.colorAndBuy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.potColor {
    flex-direction: column;
}

.buyPlant {
    color: #024f44;
    border: 1px solid #024f44;
    font-family: var(--UrbanistVar);
    padding: 3% 10%;
    font-size: 1.5rem;
}

.buyPlant:hover {
    background-color: #024f44;
    color: white;
}

/* search and filter */
.searchAndFilter {
    background-color: var(--light-green);
    padding: .5% 5%;
}

.searchAndFilter article {
    height: 5em;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 10vh auto;
}

.searchAndFilter article input {
    width: 80%;
    border: 1px solid #024f44;
    padding: 0 2%;
}

.searchAndFilter article input::placeholder {
    color: #024f44;
}


/*
! ============== Colorful Styling ==============
*/
.zoomBox {
    overflow: hidden;
    padding: 0 7%;
    display: flex;
    justify-content: space-evenly;
}

.zoomBox div {
    display: inline;
    height: auto;
    width: 16vw;
    overflow: hidden;
}

.zoomBox div img {
    transition: transform .5s ease;
}

.zoomBox div img:hover {
    transform: scale(1.5);
    filter: hue-rotate(90deg);
}


/*
! ============== Plant Stands Styling ==============
*/
.plantStands {
    background-color: var(--light-green);
    padding: 2% 0;
    margin: 10vh 0;
}

.plantStands article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2% 10% 9%;
}

.plantStands article img {
    width: 24vw;
}

.plantStands article div {
    display: flex;
    color: #024f44;
    font-size: 2rem;
    font-family: var(--UrbanistVar);
    width: 5vw;
}


/*
! ============== Free Shipping Styling ==============
*/
.freeShipping {
    padding: 5% 0 8% 7%;
    margin-bottom: 10vh;
    background-image: url("../img/freeShippImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #be9382;
    font-family: "UrbanistVar";
}

.freeShippingHeading {
    font-size: 5rem;
}

.freeShipping article:nth-of-type(1) {
    margin-bottom: 7vh;
}

.freeShipping article:nth-of-type(1) p:nth-of-type(2) {
    font-size: 2rem;
}

.numberAndEmail {
    font-size: 1.5rem;
}

.numberAndEmail div {
    display: flex;
    align-items: center;
}

.numberAndEmail img {
    width: 20px;
    margin-right: 1%;
}

.numberAndEmail div:nth-of-type(1) {
    margin-bottom: 1vh;
}